*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "poppins", sans-serif;
}
header{
	width: 100%;
	height: 50px;
	background: pink;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
}
h1{
	float: left;
}
#banner{
	margin-top:50px;
	position: relative;
}
#banner img{
	width: 100%;
	height: 100%;
}
#banner .contenedor{
	position: absolute;
	top: 50%;
	left: 61%;
	color: #462d13;
	transform: translateX(180px)translateY(-80px);
}
.menu a{
	display: inline-flex;
	color: #fff;
	height: 50px;
	text-decoration: initial;
	padding: 22px;
	border: 0px solid #fff;
}
.menu a:hover{
	background: lightblue;
}
#bienvenidos h2{
	padding: 15px;
	text-transform: uppercase;
}
#servicios{
	padding: 50px;
}
#servicios h3{
	text-align: center;
	color: black;
	font-family: "tahoma", sans-serif;
}
#servicios h4{
	text-align: center;
	color: black;
	font-family: "tahoma", sans-serif;
}
#servicios .contenedor{
	display:flex;
	justify-content:center;
	flex:wrap;
}
#servicios article{
	margin:40xp;
}
#servicios img{
	width: 100%;
	max-width: 500px;
	padding:10px;
}
#productos{
	background: linear-gradient(220.55deg, #B7DCFF 0%, #FFA4F6 100%);
	color: #fff;
	text-align: center;
	padding: 30px;
}
#productos h2{
	padding: 15px;
	text-transform: uppercase;
	font-family: "tahoma", sans-serif;
}
#productos .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: "tahoma", sans-serif;
}
.info-mascota{
margin: 60px;
}
.info-mascota img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 7px solid #fff;
}
#Guarderia{
	color: #000;
	text-align: center;
	padding: 30px;
}
#Guarderia h2{
	padding: 15px;
	text-transform: uppercase;
	font-family: "tahoma", sans-serif;
}
#Guarderia .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: "tahoma", sans-serif;
}
.guarderia{
	margin: 10px;
}
.guarderia img{
	width: 100%;
	max-width: 500px;
	padding:10px;
}